<ion-header>
  <ion-toolbar><ion-buttons slot="start"  >
<ion-button routerLink="/tabs/tab3" routerDirection="back">
<ion-icon  name="arrow-round-back" color="white"></ion-icon>
</ion-button>
  </ion-buttons>
    <ion-title>CSS Colors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row align-items-center>
    <ion-col size="1">

    </ion-col>
    <ion-col>
<h1>CSS Colors</h1>
<hr>
<p>ระบุสีโดยใช้ชื่อสีที่กำหนดไว้ล่วงหน้าหรือค่า RGB, HEX, HSL, RGBA, HSLA</p>
<hr>
<h2>Color Names</h2>
<p>ใน HTML สีสามารถระบุได้โดยใช้ชื่อสี:</p>
<div class="w3-row w3-center" style="margin:0 -16px;line-height:80px;color:white;">
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:tomato;">Tomato</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:orange;">Orange</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:dodgerblue;">DodgerBlue</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:mediumseagreen;">MediumSeaGreen</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:gray;">Gray</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:slateblue;">SlateBlue</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:violet;">Violet</div>
  </div>
  <div class="w3-col l3 m6 w3-padding">
    <div style="background-color:lightgray;color:#444444">LightGray</div>
  </div>
</div>
<hr>
<h2>Background Color</h2>
<p>คุณสามารถตั้งค่าสีพื้นหลังสำหรับองค์ประกอบ HTML:</p>
<div style="background-color:dodgerblue; text-align:center;color:white;font-size:24px;">Hello World</div>
<br>
<div class="w3-container" style="background-color:tomato;color:white;"><br>
  Ionic's earliest goal was to make it easy to develop mobile apps using web technologies like HTML, CSS, and JavaScript. Because of this foundation in web technologies, Ionic can run anywhere the web runs — iOS, Android, browsers, Electron, PWAs, and more.<br><br>
</div>
<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
  <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:DodgerBlue;"</span></span><span style="color:mediumblue">&gt;</span></span>Hello World<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>p<span style="color:red"> style<span style="color:mediumblue">="background-color:Tomato;"</span></span><span style="color:mediumblue">&gt;</span></span>Lorem
  Ionic's...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/p<span style="color:mediumblue">&gt;</span></span> </div>
<br>
</div>
<h2>Text Color</h2>
<p>คุณสามารถตั้งค่าสีของข้อความ:</p>
<h3 style="color:tomato">Hello World</h3>
<p style="color:dodgerblue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p style="color:mediumseagreen">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<div class="w3-example">
 <h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
  <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="color:Tomato;"</span></span><span style="color:mediumblue">&gt;</span></span>Hello
  World<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>p<span style="color:red"> style<span style="color:mediumblue">="color:DodgerBlue;"</span></span><span style="color:mediumblue">&gt;</span></span>Lorem
  ipsum...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/p<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>p<span style="color:red"> style<span style="color:mediumblue">="color:MediumSeaGreen;"</span></span><span style="color:mediumblue">&gt;</span></span>Ut wisi
  enim...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/p<span style="color:mediumblue">&gt;</span></span> </div>
</div>
<hr>
<h2>Border Color</h2>
<p>
คุณสามารถกำหนดสีของเส้นขอบ:</p>
<h2 style="border: 2px solid Tomato;">Hello World</h2>
<h2 style="border: 2px solid DodgerBlue;">Hello World</h2>
<h2 style="border: 2px solid Violet;">Hello World</h2>
<div class="w3-example">
 <h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
  <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="border:2px
  solid Tomato;"</span></span><span style="color:mediumblue">&gt;</span></span>Hello
  World<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="border:2px
  solid DodgerBlue;"</span></span><span style="color:mediumblue">&gt;</span></span>Hello
  World<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="border:2px
  solid Violet;"</span></span><span style="color:mediumblue">&gt;</span></span>Hello
  World<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span> </div>
</div>
<hr>
<h2>Color Values</h2>
<p>
ใน HTML คุณสามารถระบุสีได้โดยใช้ค่า RGB, ค่า HEX, ค่า HSL, ค่า RGBA และค่า HSLA:</p>
<p>เหมือนกับชื่อสี "Tomato":</p>
<div class="w3-center" style="line-height:60px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
  <div style="background-color:rgb(255, 99, 71);margin:10px 0;">rgb(255, 99, 71)</div>
  <div style="background-color:#ff6347;margin:10px 0;">#ff6347</div>
  <div style="background-color:hsl(9, 100%, 64%);margin:10px 0;">hsl(9, 100%, 64%)</div>
</div>
<p>เหมือนกับชื่อสี "Tomato" แต่โปร่งใส 50%:</p>
<div class="w3-center" style="line-height:60px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
  <div style="background-color:rgba(255, 99, 71, 0.5);margin:10px 0;">rgba(255, 99, 71, 0.5)</div>
  <div style="background-color:hsla(9, 100%, 64%, 0.5);margin:10px 0;">hsla(9, 100%, 64%, 0.5)</div>
</div>
<div class="w3-example">
 <h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
  <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:rgb(255,
  99, 71);"</span></span><span style="color:mediumblue">&gt;</span></span>...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:#ff6347;"</span></span><span style="color:mediumblue">&gt;</span></span>...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:hsl(9,
  100%, 64%);"</span></span><span style="color:mediumblue">&gt;</span></span>...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:rgba(255,
  99, 71, 0.5);"</span></span><span style="color:mediumblue">&gt;</span></span>...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:red"> style<span style="color:mediumblue">="background-color:hsla(9,
  100%, 64%, 0.5);"</span></span><span style="color:mediumblue">&gt;</span></span>...<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span> </div>
</div>
<hr>
<h2>Color Names Supported by All Browsers</h2>
<p>
เบราว์เซอร์ที่ทันสมัยทั้งหมดรองรับชื่อสี 140 รายการต่อไปนี้ (คลิกที่ชื่อสีหรือค่าฐานสิบหกเพื่อดูสีเป็นสีพื้นหลังพร้อมกับสีข้อความที่แตกต่างกัน):</p>
 
  </ion-col>
    <ion-col size="1">

    </ion-col>
  </ion-row>
</ion-content>
