<ion-header>
  <ion-toolbar>
    <ion-title>
      Totorials Webpage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

          <ion-card class="welcome-card" (click)="gohtml()" >
            <ion-img src="/assets/htmlPic.jpg"></ion-img>
            <ion-card-header>

              <ion-card-title>HTML </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>ภาษาสำหรับสร้าง Web pages</p>
              <!-- <ion-button shape="round" (click)="tab2go()">Round Button</ion-button> -->
            </ion-card-content>
          </ion-card>
          <ion-card class="welcome-card"(click)="gocss()">
            <ion-img src="/assets/codecssi.jpg"></ion-img>
            <ion-card-header>

              <ion-card-title align="right" >CSS </ion-card-title>
            </ion-card-header>
            <ion-card-content >
              <p align="right">ภาษาสำหรับตกแต่งและออกแบบ Web pages </p>
            </ion-card-content>
          </ion-card>
          <ion-card class="welcome-card"(click)="gosql()">
            <ion-img src="/assets/SQLSat.jpg"></ion-img>
            <ion-card-header>

              <ion-card-title >SQL </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>ภาษาสำหรับการจัดการฐานข้อมูล</p>
            </ion-card-content>
          </ion-card>
          <ion-card class="welcome-card" (click)="gophp()">
            <ion-img src="/assets/phpcode.jpg"></ion-img>
            <ion-card-header>

              <ion-card-title align="right">PHP </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p align="right">ภาษาสำหรับ Web server</p>
            </ion-card-content>
          </ion-card>

</ion-content>
