<ion-header>
  <ion-toolbar><ion-buttons slot="start"  >
<ion-button routerLink="/tabs/tab2" routerDirection="back">
<ion-icon  name="arrow-round-back" color="white"></ion-icon>
</ion-button>
  </ion-buttons>
    <ion-title>HTML Tables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row align-items-center>
    <ion-col size="1">

    </ion-col>
    <ion-col>
      <h1>HTML Tables</h1>
      <div class="w3-example">
      <h3>HTML Table Example</h3>
      <div class="w3-white w3-padding notranslate">
      <table id="customers">
        <tbody><tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
      </tbody></table>
      </div>
      </div>
      <hr>
      <h1>การกำหนดตาราง HTML</h1>
      <p>ตาราง HTML ถูกกำหนดด้วยแท็ก<code class="w3-codespan">&lt;table&gt;</code> </p>
      <p>แต่ละแถวของตารางจะถูกกำหนดด้วยแท็ก <code class="w3-codespan">&lt;tr&gt;</code> ส่วนหัวของตารางถูกกำหนดด้วยแท็ก <code class="w3-codespan">&lt;th&gt;</code> tag. โดยค่าเริ่มต้นส่วนหัวของตารางจะหนาและอยู่ตรงกลาง ข้อมูลตาราง / เซลล์ถูกกำหนดด้วยแท็ก
<code class="w3-codespan">&lt;td&gt;</code> </p>
<div class="w3-example">
 <h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
<span style="color:brown"><span style="color:mediumblue">&lt;</span>table<span style="color:red"> style<span style="color:mediumblue">="width:100%"</span></span><span style="color:mediumblue">&gt;</span></span><br>&nbsp;
<span style="color:brown"><span style="color:mediumblue">&lt;</span>tr<span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>th<span style="color:mediumblue">&gt;</span></span>Firstname<span style="color:brown"><span style="color:mediumblue">&lt;</span>/th<span style="color:mediumblue">&gt;</span></span><br>
&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>th<span style="color:mediumblue">&gt;</span></span>Lastname<span style="color:brown"><span style="color:mediumblue">&lt;</span>/th<span style="color:mediumblue">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>th<span style="color:mediumblue">&gt;</span></span>Age<span style="color:brown"><span style="color:mediumblue">&lt;</span>/th<span style="color:mediumblue">&gt;</span></span><br>
&nbsp;
<span style="color:brown"><span style="color:mediumblue">&lt;</span>/tr<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
<span style="color:brown"><span style="color:mediumblue">&lt;</span>tr<span style="color:mediumblue">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>Jill<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span><br>
&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>Smith<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>50<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span><br>
&nbsp;
<span style="color:brown"><span style="color:mediumblue">&lt;</span>/tr<span style="color:mediumblue">&gt;</span></span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>tr<span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>Eve<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span><br>
&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>Jackson<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>td<span style="color:mediumblue">&gt;</span></span>94<span style="color:brown"><span style="color:mediumblue">&lt;</span>/td<span style="color:mediumblue">&gt;</span></span><br>
&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>/tr<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>/table<span style="color:mediumblue">&gt;</span></span>
 </div>
</div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
  </ion-row>

</ion-content>
