<ion-header>
  <ion-toolbar><ion-buttons slot="start"  >
<ion-button routerLink="/tabs/tab5" routerDirection="back">
<ion-icon  name="arrow-round-back" color="white"></ion-icon>
</ion-button>
  </ion-buttons>
    <ion-title>HTML Formatting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row align-items-center>
    <ion-col size="1">

    </ion-col>
    <ion-col>
<h1>HTML Text Formatting</h1>
<div class="w3-example">
<h3>Text Formatting</h3>
<div class="w3-white w3-padding notranslate">
<p><b>This text is bold</b></p>
<p><i>This text is italic</i></p>
<p>This is<sub> subscript</sub> and <sup>superscript</sup></p>
</div>
</div>
<hr>
<h2>HTML Formatting Elements</h2>
<p>HTML ยังกำหนดองค์ประกอบพิเศษสำหรับการกำหนดข้อความด้วยความหมายพิเศษ</p>
<p>HTML ใช้องค์ประกอบเช่น <code class="w3-codespan">&lt;b&gt;</code> and <code class="w3-codespan">&lt;i&gt;</code> สำหรับการจัดรูปแบบเอาต์พุตเช่นข้อความ <b>ตัวหนา</b> หรือ <i>ตัวเอียง</i></p>
<p>องค์ประกอบการจัดรูปแบบถูกออกแบบมาเพื่อแสดงข้อความชนิดพิเศษ</p>
<ul>
 <li><code class="w3-codespan">&lt;b&gt;</code> - ข้อความตัวหนา</li>
 <li><code class="w3-codespan">&lt;strong&gt;</code> - ข้อความสำคัญ</li>
 <li><code class="w3-codespan">&lt;i&gt;</code> - ข้อความตัวเอียง</li>
 <li><code class="w3-codespan">&lt;em&gt;</code> - เน้นข้อความ</li>
 <li><code class="w3-codespan">&lt;mark&gt;</code> - ข้อความที่ทำเครื่องหมาย</li>
 <li><code class="w3-codespan">&lt;small&gt;</code> - ข้อความขนาดเล็ก</li>
 <li><code class="w3-codespan">&lt;del&gt;</code> - ข้อความที่ถูกลบ</li>
 <li><code class="w3-codespan">&lt;ins&gt;</code> - ข้อความที่แทรก</li>
 <li><code class="w3-codespan">&lt;sub&gt;</code> - ข้อความตัวห้อย</li>
 <li><code class="w3-codespan">&lt;sup&gt;</code> - ข้อความตัวยก</li>
</ul>
<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate htmlHigh">
    <span style="color:brown"><span style="color:mediumblue">&lt;</span>b<span style="color:mediumblue">&gt;</span></span>This text is bold<span style="color:brown"><span style="color:mediumblue">&lt;</span>/b<span style="color:mediumblue">&gt;</span></span> </div>
</div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
  </ion-row>
</ion-content>
